.error {
    border: 1px solid red;
}
.dataTables_wrapper {
    margin-top: 50px;
}
#siteWrapper {
    height: 100vh;
}
#asmenineInfo_wrapper {
    display: none;
}
#asmenineInfo_wrapper.open {
    display: block;
}
.table-button {
    margin-top: 50px;
}
